.default-z-index {
    z-index: 2;
}

body {
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding-left: 4px;
    padding-top: 2px;
    position: relative;
    color: #FFFFFF;
    z-index: 3;
}

#menu {
    list-style-type: none;
    padding-top: 30px;
    margin: 0;
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #333333;
    color: #FFFFFF;
    transition: left 0.3s ease;
    opacity: 0.95;
}

#menu li {
    margin: 10px 0;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu.show {
    left: 0;
}
