body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.form-container {
    width: 100%; /* Set width to use almost full width of the page */
    margin: 0 auto; /* Center the form on the page */
    padding: 0;
    background-color: #ffffff;
    border: none; 
    box-shadow: none;
    padding-bottom: 50px;
}

h1 {
    background-color: #A50000; 
    color: #ffffff; 
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
}

form {
    padding: 30px;
}

.form-row {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin-bottom: 30px; /* Space between each row */
}

label {
    font-size: 20px;
    font-weight: bold;
    width: 15%; /* Set label width to take up less space */
    text-align: right;
    margin-right: 10px;
}

input[type="text"], .dropdown-select {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #000000;
    background-color: #DCDCE0;
    border-radius: 5px;
    width: 75%; 
    box-sizing: border-box;
    color: #666666; 
}


select {
    color: #000000; /* Text color */
    background-color: #DCDCE0; /* Background color */
    border: 1px solid #000000; /* Border */
    padding: 10px; /* Padding inside the select box */
    border-radius: 5px; /* Rounded corners */
}

option {
    color: #000000; /* Text color */
    background-color: #DCDCE0; /* Background color */
}

.dropdown {
    position: relative;
    width: 75%;
    border-radius: 5px;
    box-sizing: border-box;
}

.dropdown-button {
    background-color: #DCDCE0;
    font-size: 18px;
    border-color: #DCDCE0;
    color: #666666; /* Placeholder color */
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    box-sizing: border-box;
    border-bottom: 0;
    border-right: 0;
}

.dropdown-button i {
    float: right;
    margin-left: 10px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #DCDCE0;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}

.dropdown .content a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .content {
    display: block;
}

.done-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #A50000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; /* Set width for the Done button */
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.done-button:hover {
    background-color: #000000;
}

.field-box{
    background-color: #DCDCE0;
    border: 1px solid #000000;
    padding: 1px;
    border-radius: 5px;
    width: 75%; 
    height: 5%;
    box-sizing: border-box;
    color: #000000; 
}

.field-text {
    font-size: 16px;
    text-align: left;
    text-indent: 20px;
}

input.error, select.error {
    border-color: red;
}

/* Error messages container at the top */
#error-message {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

/*for pop up*/
.popup{
    width: 400px;
    background-color:  #f8d7da;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    padding: 0 30px 30px;
    color: #000;
    border: 1px solid;
    border-color: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
};


.popup-h2{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 10px;
}

.popup-button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #A50000;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

/* story point slider */
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60%;
    background: white;
    padding: 0 65px 0 45px;
}

.range{
    position: relative;
    width: 100%;
    appearance: none;
    outline: none;
    background-color: #DCDCE0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.range::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;    
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: -407px 0 0 400px black;
    cursor: pointer;
}

#story-point-of-task{
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 1.00em;
    color: white;
    background: rgb(56, 56, 56);
    margin-left: 15px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}
